@-moz-document domain("youtube.com") {
/* Скрывает текст с кнопок "Поделиться" и "Сохранить", чтобы умещалась дата публикации видео */
#menu-container #menu ytd-button-renderer yt-formatted-string {
	display: none;
}

/* Ховер на иконках кнопок "Поделиться" и "Сохранить" */
#menu-container #menu ytd-button-renderer:hover #background {
	opacity: 0.3 !important;
	background: rgb(144, 144, 144) !important;
}


/* Для отображения даты публикации видео */
ytd-video-primary-info-renderer[has-date-text_] #info-text.ytd-video-primary-info-renderer,
ytd-video-primary-info-renderer[has-date-text_] #info-text.ytd-video-primary-info-renderer,
#info-text.ytd-video-primary-info-renderer {
	overflow: visible;
}

#info-contents #info-text #count,
#info-contents #info-text #count [small_],
#info-contents #info-text #count [small_] .yt-view-count-renderer,
#info-contents #info-text #date {
	line-height: 1.6rem;
}

#info-contents #info-text #count {
	margin-right: 10px;
	display: block;
}

#info-contents #info-text #date {
	font-size: 0;
	margin-left: 0;
}

#info-contents #info-text #date #dot.ytd-video-primary-info-renderer {
	font-size: 0;
	margin: 0;
}

#info-contents #info-text #date yt-formatted-string {
	font-size: 1.4rem;
	margin-left: 0;
}

/* Полные имена видео, а не обрезанные 2-мя строками по высоте */
ytd-grid-video-renderer #video-title.yt-simple-endpoint.ytd-grid-video-renderer,
#video-title.yt-simple-endpoint.ytd-grid-video-renderer {
	display: block;
    max-height: max-content;
}

.iv-card-video h2, .iv-card-episode h2, .iv-card-movie h2, .iv-card-playlist h2 {
	-webkit-line-clamp: unset;
    max-height: fit-content;
}

/* Увеличение места под название видео в тултипе при наведении в плеере на кнопку следующего видео */
.ytp-tooltip.ytp-text-detail.ytp-preview {
    width: 360px;
}

.ytp-tooltip.ytp-text-detail.ytp-preview .ytp-tooltip-text-wrapper {
	max-width: 180px;
    max-height: 82px;
}

/* Увеличение места под название видео в тултипе при наведении в плеере 
на кнопку следующего видео в полноэкранном режиме */
.ytp-big-mode .ytp-tooltip.ytp-text-detail.ytp-preview {
	width: 500px;
}

.ytp-big-mode .ytp-tooltip.ytp-text-detail.ytp-preview .ytp-tooltip-text-wrapper {
	max-width: 240px;
	max-height: 122px;
}

.ytp-big-mode .ytp-tooltip.ytp-text-detail .ytp-tooltip-title {
	font-size: 1.2rem;
	line-height: 1.2rem;
	margin-bottom: 1px;
}

/* Три строки для названия видео в правой колонке предлагаемых видео под основным плеером */
ytd-compact-video-renderer #video-title.ytd-compact-video-renderer {
    display: -webkit-box;
    max-height: 4.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}

/* Уменьшение заголовка видео в полноэкранном режиме при наведении */
.ytp-big-mode .ytp-title-text:hover {
	font-size: 1.3rem;
	opacity: .5;
}
}